
$cDarkText: #b9bbb7;
$cDarkTextSecond: #595959;
$cDarkBg: #303030;
$cDarkBgSecond: #424242;
$cDarkBorder: #595959;

$cLightText: #303030;
$cLightBg: #ffffff;
$cLightBgSecond: #d8d8d8;
$cLightBorder: #b9b9b9;
