@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(/fonts/Nunito-Regular.ttf?e9f64790b131c08d6b34a9ecdc453876), url(/fonts/Nunito-Regular.ttf?e9f64790b131c08d6b34a9ecdc453876) format("ttf");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito Bold"), local("Nunito-Bold"), url(/fonts/Nunito-Bold.ttf?a8c930b08cd5fda37ea9f1c105d1ac61), url(/fonts/Nunito-Bold.ttf?a8c930b08cd5fda37ea9f1c105d1ac61) format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46), url(/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46) format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6), url(/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6) format("ttf");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(/fonts/Comfortaa-Regular.ttf?8891f7fe67794205a7d34ce42c6e3f70), url(/fonts/Comfortaa-Regular.ttf?8891f7fe67794205a7d34ce42c6e3f70) format("ttf");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(/fonts/Comfortaa-Bold.ttf?22e5f38dfe16119bc530442963b45bd1), url(/fonts/Comfortaa-Bold.ttf?22e5f38dfe16119bc530442963b45bd1) format("ttf");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.eot?96c476804d7a788cc1c05351b287ee41);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.woff2?0509ab09c1b0d2200a4135803c91d6ce) format("woff2"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.woff?29b882f018fa6fe75fd338aaae6235b8) format("woff"), url(/fonts/vendor/material-icons/iconMaterialIcons-Regular.ttf?d120c85b6eb0549d60483e2980033c15) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", "Roboto", sans-serif;
  color: #b9bbb7;
}

a {
  text-decoration: none;
}

.copy span {
  color: orange;
}

.copy {
  width: 100%;
  font-size: 0.9rem;
  color: #595959;
}

